<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/index">
      <ion-button> <ion-icon name="arrow-back-outline"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 18px;">สถานที่ท่องเที่ยวจังหวัดบุรีรัมย์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-searchbar (ionChange)="filterPlace($event)" class="boxshadowSearch" style="border-radius: 10px;" placeholder="ค้นหาสถานที่ท่องเที่ยว"></ion-searchbar> -->
  <div style="padding: 8px;">
    <div class="boxShadowCard boxCardPlacePage" *ngFor="let place of placeList"  style="height: {{(place.tr_file.length > 0) ? '200px' : '85px'}} ;">
      <div  *ngIf="place.tr_file.length > 0" style="padding: 10px 0px 6px 0px;">
        <swiper
        [config]="subSlide"
        #subSwiper
        class="">
        <ng-template swiperSlide  *ngFor="let file of place.tr_file" >
          <img (click)="modalViewImage(place.tr_file)" [src]="endPoint +''+ file.file_name" alt="" style="width: 95%; height: 100px; border-radius: 10px;" >
        </ng-template>
        </swiper>
      </div>
      <div class="boxText" (click)="gotoPlaceDetail(place?.place_id, place?.km)">
        <div class="title">
          <p class="placeName">{{place.place_name}}</p>
          <p class="km">{{place.km | number:'1.0-2'}} km</p>
        </div>
        <p class="stmList">
          <ion-icon style="color: #C60808;  margin-right: 6px;" name="apps-outline"></ion-icon>
          <ion-label class="linestmList">{{place.tm_name}}
          </ion-label>
        </p>
        <p class="address">
          <ion-icon style="color: #5E1594; margin-right: 6px;" name="location"></ion-icon>
          <ion-label class="lineAddress" >{{place.stmList}}
          </ion-label>
        </p>
      </div>

    </div>

  </div>
</ion-content>
<ion-footer style="display: contents;" class="ion-no-border">
  <app-tabs-page></app-tabs-page>
</ion-footer>
